/* Подключение шрифта */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Базовые стили для всех элементов */
* {
    margin: 0;
    padding: 0;
}

/* Установка шрифтра */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: white;
}

/* Установка базовых значений для элементов */
a {
    text-decoration: none;
}

img {
    max-width: 100%;  /* Чтобы картинка не выходила за пределы родительского блока */
}

/* Cтили для футера */
footer {
    background-color: #070707;
}

footer .blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 90px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
}

/* footer .blocks .main-block {
    margin: 0 1%;
} */

footer .blocks .block-1 {
    width: 372px;
    display: block;
}

footer .blocks .block-1 h2 {
    font-size: 24px;
    padding-bottom: 15px;
}

footer .blocks .block-1 p {
    font-size: 16px;
    padding-bottom: 30px;
}

footer .blocks .block-2 {
    width: 100px;
    display: block;
}

footer .blocks .block-2 h3,
footer .blocks .block-3 h3 {
    padding-bottom: 15px;
    font-size: 17px;
    font-weight: 500;
}

footer .blocks .block-2 a {
    color: white;
    margin-top: 3px;
    display: block;
}

footer .blocks .block-2 a:hover {
    color: rgb(152, 152, 152);
}

footer .blocks .block-3 {
    width: 282px;
}

footer .blocks .block-3 p {
    font-size: 16px;
    padding-bottom: 15px;
}

footer .blocks .block-4 {
    width: 290px;
    margin-top: 110px;
}

footer .blocks .block-4 img {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

footer .blocks .block-4 img:hover {
    transform: translateY(-5px);
}

footer > span {
    font-size: 13px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    display: block;
}
